:root {
	--BarHeight: 3em;
	--WindowMargin: 1em;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	color: black;
	background-color: white;
}

img, video {
	max-width: 100%;
}

#Bottom > button {
	height: 100%;
}

#Root {
	/*margin-bottom: 2em;*/
}

#Bottom {
	display: block;
	width: 100%;
	height: var(--BarHeight);

	position: fixed;
	bottom: 0;
	left: 0;

	background-color: white;
	border: 2px solid black;
}

#DataView {
	white-space: break-spaces;
}

.Window {
	background: white;
	position: absolute;

	width: 100%;
	max-width: 100%;
	min-width: 100%;

	height: 100vh;
	overflow-y: auto;
	padding: var(--WindowMargin);
	padding-bottom: calc(var(--WindowMargin) + (var(--BarHeight) * 2));
}

.View.Note {
	border: 4px solid purple;
	margin: 12px;
}

.Profile.Banner {
	width: 384px;
}

/*.View.Note*/ .Profile.Icon {
	width: 64px;
}

.Window.Gallery > ul {
	padding: 0;
}

.Window.Gallery > ul > li {
	display: inline-block;
	width: 384px;
}
