img, video {
	max-width: 100%;
}

#Root {
	/*margin-bottom: 2em;*/
}

#Bottom {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border: 2px solid black;
	margin-top: 4em;
}

#DataView {
	white-space: break-spaces;
}

.Window {
	background: white;
	position: absolute;
	
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	
	min-height: calc(100% - 4em);
	padding-bottom: 2em;
}

.View.Note {
	border: 4px solid purple;
	margin: 12px;
}

.View.Note .Author.Icon {
	width: 64px;
}

.Gallery > div {
	display: inline-block;
}
