img, video {
	max-width: 100%;
}

main {
	margin-bottom: 2em;
}

footer {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border: 2px solid black;
	margin-top: 4em;
}

#DataView {
	white-space: break-spaces;
}

.View.Note {
	border: 4px solid purple;
	margin: 12px;
}

.View.Note .Author.Picture {
	width: 64px;
}
